<div class="app-content content" style="padding: 20px 0 14px; margin: 0 13px;">
  <div class="content-wrapper p-1">
<div class="content-header row">
  <div class="col-12" style="font-size: 18px;padding: 20px 0 14px; margin: 0 13px;" >Contact Mangement  </div>
</div>
  </div>
</div>
<div class="row">
  <div class="col-xl-2 offset-10 col-md-6 mb-1 button-wrapper">
    <div class="dwnd-btn">
      <button class="btn btn-primary" [routerLink]="['/addcustomer']">
        <i class="fa fa-user-plus"></i> Add Contact
      </button>
    </div>
  </div>
</div>
<form>
  <!-- [(ngModel)]="service.searchTerm" -->
  <div class="search-hero">
    <input class="form-control"
    
    type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
     placeholder="&#61442;  Start searching for a Customer by id or name or email">
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col" sortable="contactname" (sort)="onSort($event)">Name</th>
      <th scope="col" sortable="companyName" (sort)="onSort($event)">Company Name</th>
      <th scope="col" sortable="email" (sort)="onSort($event)">Email </th>
      <th scope="col" sortable="workphone" (sort)="onSort($event)">Work Phone </th>
      <th scope="col" sortable="receivables" (sort)="onSort($event)">Receivables </th>
      <th scope="col" sortable="creduts" (sort)="onSort($event)">Credits </th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of    dataCustomer  |filter:searchText ">
      <th scope="row">{{ data.contact_id }}</th>
      <td>
       <ngb-highlight [result]="data.contact_name" [term]="service.searchTerm"></ngb-highlight>
      </td>
      <td><ngb-highlight [result]="data.company_name" [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="data.email" [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="data.phone" [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="data.unused_credits_receivable_amount" [term]="service.searchTerm"></ngb-highlight></td>
      <td><ngb-highlight [result]="data.outstanding_receivable_amount" [term]="service.searchTerm"></ngb-highlight></td>
   
    <button
      class="btn btn-sm btn-danger"
      placement="top"
      ngbTooltip="Delete"
      (click)="
        OpenUserDeleteModal(data.contact_id, i)
      "
    >
      <i class="fa fa-trash"></i>
    </button>

      
    </tr>
    </tbody>
  </table>



</form>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="(total$ | async)!" [(page)]="service.page"
    >
    <!-- [pageSize]="service.pageSize" -->
  </ngb-pagination>
  <!-- [(ngModel)]="service.pageSize" -->

</div>


<!-- User Delete Modal -->
<ng-template #deletemodal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel1">User Deletion Confirmation</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center trash-modal">
    <div class="d-flex">
      <img src="../../assets//images/trash_img.gif" />
    </div>
    <h3>Are you sure want to delete the Customer?</h3>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn grey btn-outline-secondary"
      (click)="d('Close modal')"
      ngbAutofocus
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="d('Close modal'); DeleteCustomer()"
    >
      Delete
    </button>
  </div>
</ng-template>