<mat-toolbar color="primary" class="mat-elevation-z5" >
  <mat-toolbar-row>
    <a class="product-logo" href="#">CMS</a>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleNav(sidenav)">
      <mat-icon aria-label="Side nav toggle icon" style="padding: 15px;">menu</mat-icon>
    </button>
    <span class="fill-remaining-space"></span>

  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened class="vertical-menu" >    
    <mat-nav-list style="width:200px">
      <a mat-list-item routerLink="dashboard" skipLocationChange="true">
        <i class="fa fa-file"></i>&nbsp;<label>Dashboard</label>
      </a>    
      <a mat-list-item  routerLink="Customers" skipLocationChange="true">
        <i class="fa fa-file"></i>&nbsp;<label>Customers</label>
      </a>
      <a mat-list-item routerLink="items" skipLocationChange="true">
        <i class="fa fa-file"></i>&nbsp;<label>Items</label>
      </a>
      <a mat-list-item routerLink="deliverychallans" skipLocationChange="true">
        <i class="fa fa-file"></i>&nbsp;<label>Delivery Challans</label>
      </a>
      
      <a mat-list-item routerLink="invoices" skipLocationChange="true">
        <i class="fa fa-server"></i>&nbsp;<label>Invoices</label>
      </a>
      
      <a mat-list-item routerLink="reports" skipLocationChange="true">
        <i class="fa fa-file"></i>&nbsp;<label>Reports</label>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <p style="height:85vh">
      <router-outlet></router-outlet> 
    </p>
  </mat-sidenav-content> 
</mat-sidenav-container>