<div class="app-content content" style="padding: 20px 0 14px; margin: 0 13px;">
    <div class="content-wrapper p-1">
        <div class="content-header row">
            <div class="col-12" style="font-size: 18px;padding: 20px 0 14px; margin: 0 13px;" >Dashboard  </div>
          </div>
               <!-- Topic Cards -->
            <div id="cards_landscape_wrap-2">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                          <a href="#">
                              <div class="card-flyer">
                                  <div class="text-box">
                                      <div class="image-box">
                                        <i class="fa fa-desktop"></i>      
                                                 </div>
                                      <div class="text-container">
                                          <h6>Total Contacts
                                          </h6>
                                          <p>100 Customers</p>
                                      </div>
                                  </div>
                              </div>
                          </a>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                      <i class="fa fa-inr" aria-hidden="true"></i>
   
                                               </div>
                                    <div class="text-container">
                                        <h6>Total Revenue
                                        </h6>
                                        <p>₹ 140,000
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                      <a href="">
                          <div class="card-flyer">
                              <div class="text-box">
                                  <div class="image-box">
                                    <i class="fa fa-inr" aria-hidden="true"></i>

                                             </div>
                                  <div class="text-container">
                                      <h6>Current Month
                                      </h6>
                                      <p>₹ 80,000
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                  <i class="fa fa-product-hunt" aria-hidden="true"></i>
 
                                           </div>
                                <div class="text-container">
                                    <h6>Total Products                                    </h6>
                                    <p>50</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                  </div>
              </div>
          </div>

            <div class="row" style="width: 100%;">
              <hr class="m-0" />
               
                <div class="col-12" >
                  <h5 style="font-size: 18px;padding: 20px 0 14px; margin: 0 13px;">Sales,Recepits & Expenses</h5>
                </div>
                <hr class="m-0" />
            <div class="col" style="max-width: 100%;"   >
                <ngx-charts-bar-vertical 
            
                    [view]="[1000,400]"
                    [results]="saleData"
                    [xAxisLabel]="'Products'"
                    [legendTitle]="'Product Sale Chart'"
                    [yAxisLabel]="'Sale'"
                    [legend]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [gradient]="true">
</ngx-charts-bar-vertical>
</div>
             </div>

             <div class="card">
              <div class="container-fluid p-1">
                <h5>
                  <strong>Recent Contacts </strong>
                </h5>
              </div>
              <div class="table-responsive">
                <table class="table table-stripped">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th> Name</th>
                      <th>Company Name	</th>
                      <th>Email</th>
                      <th>Work Phone	</th>
                      <th>Receivables</th>
                      <th>Credits</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>01</td>
                      <td>Bowman and Co	</td>
                      <td>Bowman and Co	</td>
                      <td>
                        test@zylker.org	
                      </td>
                      <td>1234</td>
                      <td>1369.66	</td>
                      <td>250</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

    </div>
</div>    