<div class="app-content content" style="padding: 20px 0 14px; margin: 0 13px;">
    <div class="content-wrapper p-1">
        <div class="content-header row">
            <div class="col-12" style="font-size: 18px;padding: 20px 0 14px; margin: 0 13px;" >Dashboard  </div>
          </div>
          <div class="content-body cardMargin">
            <div class="row top-level">
                <div class="col-xl-3 col-lg-6 col-12">
                    <mat-card class="dashboard-card">                              
                        <mat-card-title>Current Cost</mat-card-title>
                        <mat-card-content>
                          <p>&#x20b9; 50.00</p>
                            
                        </mat-card-content>
                        <mat-divider inset></mat-divider>
                    
                        <mat-card-footer>
                          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        </mat-card-footer>
                      </mat-card>                      
                  </div>
                  
                  <div class="col-xl-3 col-lg-6 col-12">
                    <mat-card class="dashboard-card">                              
                        <mat-card-title>Current Cost</mat-card-title>
                        <mat-card-content>
                          <p>&#x20b9; 50.00</p>
                            
                        </mat-card-content>
                        <mat-divider inset></mat-divider>
                    
                        <mat-card-footer>
                          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        </mat-card-footer>
                      </mat-card>                      
                  </div>
                  
                  <div class="col-xl-3 col-lg-6 col-12">
                    <mat-card class="dashboard-card">                              
                        <mat-card-title>Current Cost</mat-card-title>
                        <mat-card-content>
                          <p>&#x20b9; 50.00</p>
                            
                        </mat-card-content>
                        <mat-divider inset></mat-divider>
                    
                        <mat-card-footer>
                          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        </mat-card-footer>
                      </mat-card>                      
                  </div>
                  
                  <div class="col-xl-3 col-lg-6 col-12">
                    <mat-card class="dashboard-card">                              
                        <mat-card-title>Current Cost</mat-card-title>
                        <mat-card-content>
                          <p>&#x20b9; 50.00</p>
                            
                        </mat-card-content>
                        <mat-divider inset></mat-divider>
                    
                        <mat-card-footer>
                          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        </mat-card-footer>
                      </mat-card>                      
                  </div>                  
            </div>      
            </div>
            <div class="row">
                <div class="col-12 mt-1">
                  <h5 class="bold">Sales ,Recepits & Expenses</h5>
                </div>
                <hr class="m-0" />
               
               
              </div>

               <!-- Products sell and New Orders -->
  
      <!--/ Products sell and New Orders -->
             

    </div>
</div>    